{% extends "base.html" %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-3 col-sm-6" style="cursor: pointer;" onclick="window.location.href='http://127.0.0.1:555/name-list'">
                <div class="card box-hover">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="icon-box icon-box-lg bg-success-light rounded-circle d-flex justify-content-center align-items-center">
                                <svg width="46" height="46" viewBox="0 0 46 46" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M22.9715 29.3168C15.7197 29.3168 9.52686 30.4132 9.52686 34.8043C9.52686 39.1953 15.6804 40.331 22.9715 40.331C30.2233 40.331 36.4144 39.2328 36.4144 34.8435C36.4144 30.4543 30.2626 29.3168 22.9715 29.3168Z"
                                        stroke="var(--primary)" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M22.9714 23.0537C27.7304 23.0537 31.5875 19.1948 31.5875 14.4359C31.5875 9.67694 27.7304 5.81979 22.9714 5.81979C18.2125 5.81979 14.3536 9.67694 14.3536 14.4359C14.3375 19.1787 18.1696 23.0377 22.9107 23.0537H22.9714Z"
                                        stroke="var(--primary)" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="total-projects ms-3">
                                <h3 class="text-info count">
                                    {{installment_all}}
                                </h3>
                                <span>จำนวนผู้ขอสินเชื่อ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" style="cursor: pointer;" onclick="window.location.href='http://127.0.0.1:555/name-list/approve'">
                <div class="card box-hover">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="icon-box icon-box-lg bg-info-light rounded-circle d-flex justify-content-center align-items-center">
                                <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="23" cy="23" r="20" stroke="#3AC977" stroke-width="3"/>
                                    <path d="M15 23L21 29L33 17" stroke="#3AC977" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="total-projects ms-3">
                                <h3 class="text-success count">
                                    {{installment_approve}}
                                </h3>
                                <span>สินเชื่อที่อนุมัติ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" style="cursor: pointer;" onclick="window.location.href='http://127.0.0.1:555/name-list/waiting'">
                <div class="card box-hover">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="icon-box icon-box-lg bg-info-light rounded-circle d-flex justify-content-center align-items-center">
                                <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="23" cy="23" r="20" stroke="#FFB600" stroke-width="3"/>
                                    <path d="M23 13V33" stroke="#FFB600" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M13 23H33" stroke="#FFB600" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="total-projects ms-3">
                                <h3 class="text-warning count">
                                    {{installment_waiting}}
                                </h3>
                                <span>สินเชื่อที่รอการอนุมัติ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
{% endblock %}


