{% extends "base.html" %}
{% load static %}

{% load humanize %}
{% block title %}
<title>รายละเอียดผู้ขอสินเชื่อ
</title>
{% endblock %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-header d-flex align-items-center">
                    <h2>ข้อมูลผู้ขอสินเชื่อ</h2>
                    <span class="badge badge-{{badge_status}} ms-2 badgeStatus" id="statusApprove">{{loan_status}}</span>
                    <span id="statusApproveNew"></span>
                    {% if installment_detail.status_approve == 9%}
                        <span style="color:red;margin-left: 10;" id="detailNotApprove">* สาเหตุการไม่อนุมัติ : {{installment_detail.issue_cancel}}</span>
                    {% elif installment_detail.status_approve == 5 %}
                        <span style="color:red;margin-left: 10;" id="detailCancel">* สาเหตุการยกเลิก : {{installment_detail.issue_cancel}}</span>
                    {% endif %}
                    <span style="color:red;margin-left: 10;" id="detailApprove">
                </div>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">

                <div class="card h-auto" style="border: 1px solid #ddd; border-radius: 8px;">
                    <!-- Header -->
                    <div class="card-header" style="background-color: #03A9F3; color: white; text-align: center; font-size: 14px; font-weight: bold;">
                    </div>
                
                    <!-- Body -->
                    <div class="card-body d-flex flex-row justify-content-center align-items-center gap-4" style="gap: 9.5rem !important;font-size: 18px;">
                        <div>
                            <strong>ชื่อผู้ขอสินเชื่อ : </strong> 
                            {{ customer_info.first_name }} 
                            {{ customer_info.last_name }}
                        </div>
                
                        <div>
                            <strong>เลขที่ขอสินเชื่อ : </strong> 
                            {{ installment_detail.app_id }}
                        </div>
                
                        <div>
                            <strong>วันที่ขอสินเชื่อ : </strong> 
                            {% with customer.created_at|date:"d/m/Y" as formatted_date %}
                                {{ formatted_date }}
                            {% endwith %}
                        </div>
                    </div>
                </div>

                {% comment %} <div class="card h-auto">
                    <div class="card-body">
                        <div>
                            <h3>กลุ่มใบสมัคร</h3> 
                            <div class="ms-auto"><p  style="font-size: 16px;">ยังไม่ได้จัดกลุ่ม <button class="btn btn-outline-primary" id="id_dip_chip" type="button" style="margin-left: 20px;">จัดกลุ่ม</button></p></div>
                          </div>
                    </div>
                </div> {% endcomment %}

                <div class="card h-auto">
                    <div class="card-body">
                        <div class="profile-tab">
                            <div class="custom-tab-1">
                                <ul class="nav nav-tabs d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <li class="nav-item">
                                            <a href="#infoCustomer" data-bs-toggle="tab" class="nav-link active show">ข้อมูลจากฟอร์มผู้สมัคร</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#infoDocument" data-bs-toggle="tab" class="nav-link">ข้อมูลเอกสาร</a>
                                        </li>
                                    </div>
                                    <li class="d-flex align-items-center gap-2"  style="white-space: nowrap;margin-top: -15px;">
                                        เกณฑ์การให้คะแนน 
                                    <select class="js-data-scoringinfo-ajax" id="score_name" 
                                        {% if installment_detail.status_approve == 1 or installment_detail.status_approve == 2 or installment_detail.status_approve == 5 or installment_detail.status_approve == 9 %}disabled{% endif %}>
                                        {% if customer_score %}
                                            <option value="{{ customer_score.score_name }}" {% if customer_score %}selected{% endif %}>
                                                {{ customer_score.score_name }}
                                            </option> 
                                        {% else %}
                                            <option value="1">SCORE SET 1</option>
                                        {% endif %}
                                    </select>
                                    </li>
                                </ul>
                                
                                <div class="tab-content">
                                    <div id="infoCustomer" class="tab-pane fade active show">
                                       
                                        <div class="row mt-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h4>ข้อมูลลูกค้า<h4>
                                                </div>
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <b>ชื่อ-นามสกุล </b>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2 text-start">
                                                <b>{{ prename.pre_name }} {{ customer_info.first_name }} {{ customer_info.last_name }}</b>
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                โทรศัพท์มือถือ
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2 text-start">
                                                {{ customer_info.mobile }}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                Email
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2 text-start">
                                                {{ customer_info.email }}
                                            </div>
                                        </div>

                                        <div class="row mt-3">
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <b>Line ID </b>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2 text-start">
                                                {{ customer_info.line_id }}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end" data-customer-age="{{ customer_info.customer_age_id }}">
                                                ช่วงอายุ
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end" style="display:none" data-category-occupation="{{ customer_info.category_occupation }}">
                                                หมวดอาชัพ
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2 text-start">
                                                {{ customer_range_age.age_name }}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                สถานะภาพสมรส
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2 text-start">
                                                {{ marital_status.status_name }}
                                            </div>
                                        </div>

                                        <div class="row mt-3">
                                            <div class="col-5 col-md-3 col-lg-2 text-end" data-minorchildren="{{ customer_info.minorchildren_id }}">
                                                <b>จำนวนบุตรไม่บรรลุนิติภาวะ</b>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2 text-start">
                                                {{ minorchildren.children_name|default:"ไม่มีบุตร" }}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end" data-education="{{ customer_info.education_level_id }}">
                                                ระดับการศึกษา
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2 text-start">
                                                {{ education.education_name }}
                                            </div>
                                        </div>

                                        <hr>
                                        <div class="row">
                                            <div class="col-12">
                                                <h4>ข้อมูลที่อยู่ปัจจุบัน<h4>
                                            </div>
                                        </div>
                            
                                        <div class="row mt-1">
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label >ที่อยู่</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{ customer_address2_detail.house_no }}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label >หมู่บ้าน/อาคาร</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {% if customer_address2_detail.village is not None %}
                                                    {{ customer_address2_detail.village }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label >ซอย</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{ customer_address2_detail.soi }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label >ถนน</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{ customer_address2_detail.road }}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label >ตำบล</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{ customer_address2_detail.tambon_name }}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label >อำเภอ</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{ customer_address2_detail.amphoe_name }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label >จังหวัด</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{ customer_address2_detail.province_name }}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label >รหัสไปรษณีย์</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{ customer_address2_detail.postcode }}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end"  data-residence="{{ customer_address2_detail.residence_id }}">
                                                <label >ประเภทที่พักอาศัย</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {% if customer_address2_detail.residence_name is not None %}
                                                {{ customer_address2_detail.residence_name }}
                                            {% else %}
                                                -
                                            {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 col-md-3 col-lg-2 text-end" data-living-type="{{ customer_address2_detail.living_type_id }}">
                                                <label >สถานะที่พักอาศัย</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2" >
                                                {% if customer_address2_detail.living_type is not None %}
                                                    {{ customer_address2_detail.living_type }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </div>
                                           
                                        </div>

                                        <div class="row">

                                        </div>

                                        <div class="row">
                                            <div class="col-5 col-md-3 col-lg-2 text-end" style="margin-top: 20px;" >
                                                <h5>คะแนนที่ได้</h5>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2" style="margin-top: 23px;" id="score_1" name="score_1">
                                            {% if customer_score %}
                                                <div id="customerScore_1">{{ customer_score.score_1 }}</div>
                                            {% endif %}
                                            </div>
                                        </div>
                            
                                        <hr>
                                        <div class="row">
                                            <div class="col-12">
                                                <h4>ข้อมูลงาน และ รายได้<h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 col-md-3 col-lg-2 text-end" data-occupation="{{ customer_info.occupation_id }}">
                                                <label >ประเภทอาชีพ</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{ occupation.occup_name }}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label>ที่ทำงาน</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{ customer_address2_detail.house_no }}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end" data-business-type="{{ customer_info.business_type_id }}">
                                                <label >ลักษณะธุรกิจ</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{business_type.business_type_name}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 col-md-3 col-lg-2 text-end" data-shop-type="{{ customer_info.shop_type_id }}">
                                                <label >ประเภทร้านค้า</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{shop_type.shop_name}}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end" data-rentalage="{{ customer_info.rentalage_id }}">
                                                <label >อายุสัญญาเช่าพื้นที่</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{rentalage.age_name}}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end" data-profit="{{ customer_info.monthlyprofit_id }}">
                                                <label >กำไร/เดือน</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{monthly_profit.profit_name}}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end" data-business-age="{{ customer_info.businessage_id }}">
                                                <label >อายุของธุรกิจ</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{business_age.age_name}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 col-md-3 col-lg-2 text-end" style="margin-top: 20px;" >
                                                <h5 >คะแนนที่ได้</h5>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2" id="score_2" name="score_2" style="margin-top: 23px;">
                                            {% if customer_score %}
                                                <div id="customerScore21">{{ customer_score.score_2 }}</div>
                                            {% endif %}
                                            </div>
                                        </div>
                                        <hr>

                                        <div class="row">
                                            <div class="col-12">
                                                <h4>ข้อมูลการขอสินเชื่อ<h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 col-md-3 col-lg-2 text-end" data-reason="{{ customer_info.contract_reason_id }}">
                                                <label >วัตถุประสงค์การขอกู้</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                               {{contract_reason.reason_name}}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label>ยอดขอกู้ (บาท)</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{installment_detail.price}}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label >จำนวนงวด (เดือน)</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{number_Installment.installment_amount}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label >ค่างวด (บาท/เดือน)</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                               {{installment_detail.price_installment}}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label>รายได้ (บาท/เดือน)</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{installment_detail.base_income}}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label >หนี้ในระบบ (บาท/เดือน)</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                                {{ installment_detail.debt_in }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label >หนี้นอกระบบ (บาท/เดือน)</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2">
                                               {{ installment_detail.debt_informal }}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end">
                                                <label>หนี้ต่อรายได้ (%)</label>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2" id="debtIncome">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 col-md-3 col-lg-2 text-end" style="margin-top: 20px;" >
                                                <h5>คะแนนรวม</h5>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2" id="score_3" name="score_3" style="margin-top: 23px;">
                                            {% if customer_score %}
                                                <div id="customerScore_3">{{ customer_score.score_3 }}</div>
                                            {% endif %}
                                            </div>
                                            <div class="col-5 col-md-3 col-lg-2 text-end" style="margin-top: 20px;">
                                                <h5>Grade</h5>
                                            </div>
                                            <div class="col-7 col-md-9 col-lg-2" id="grade" style="margin-top: 23px;">
                                            {% if customer_score %}
                                                <div id="customerGrade">{{ customer_score.grade }}</div>
                                            {% endif %}
                                            </div>
                                        </div>
                                        <div id="guide"></div>
                                    </div>

                                    <div>
                                    </div>
                                    <div id="infoDocument" class="tab-pane fade">
                                        <table id="example"class="table">
                                            <thead>
                                            <tr>
                                                <th>ชื่อเอกสาร</th>
                                                <th>File name</th>
                                                <th>ลบ</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if file %}
                                                {% for files in file %}
                                                    <tr id="confirmDelete-{{ files.id }}">
                                                        <td>{{ files.doc.doc_name }}</td>
                                                        <td>
                                                            <a href="/media/{{ files.name }}" id="fileLink" target="_blank">{{ files.name }}</a>
                                                        </td>
                                                        <td>
                                                            {% if auth_edit_delete == False %}
                                                                <button
                                                                        type="button"
                                                                        onclick="confirmDelete('{{ files.id }}')"
                                                                        class="btn btn-outline-danger"
                                                                        style="display: none"
                                                                >
                                                                    <i class="fa-solid fa-trash"></i>
                                                                </button>
                                                            {% elif auth_edit_delete == True %}
                                                                <button
                                                                        type="button"
                                                                        onclick="confirmDelete('{{ files.id }}')"
                                                                        class="btn btn-outline-danger"
                                                                >
                                                                    <i class="fa-solid fa-trash"></i>
                                                                </button>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div><br>

                        <div class="row">
                            <div class="col justify-content-end my-3" style="text-align: left">
                                <a href="/name-list">
                                    <button type="button" class="btn btn-outline-primary">ย้อนกลับ </button>
                                </a>
                            </div>
                            {% if auth_reject_approve == True %}
                                <div class="col justify-content-start my-3 " style="text-align: right">
                                    {% if installment_detail.status_approve == 1 %}
                                        <button type="button" class="btn btn-outline-warning " onclick="approve('0')">แก้ไขการอนุมัติ</button>
                                    {% elif installment_detail.status_approve == 9 %}
                                        <button type="button" class="btn btn-outline-warning " onclick="approve('0')">แก้ไขการอนุมัติ</button>
                                    {% elif installment_detail.status_approve == 0 or installment_detail.status_approve == '' or installment_detail.status_approve is Null %}
                                        <button type="button" class="btn btn-outline-danger " onclick="approve('5')">ยกเลิก</button>
                                        <button type="button" class="btn btn-outline-danger not-approve" onclick="approve('9')">ไม่อนุมัติ</button>
                                        <button type="button" class="btn btn-outline-success approve" onclick="approve('1')">อนุมัติ</button>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>

                    </div>
                
                </div>
            </div>
        </div>



    </div>
</div>

{% endblock %}

{% block script %}
<script defer>
    var authEdit = "{{ auth_edit_delete }}";
    var urlMasterscoringinfo = "{% url 'nameList:Masterscoringinfo' %}";
    var urlCalScoring = "{% url 'nameList:cal-scoring' %}";
    var urlupdateStatus = "{% url 'nameList:updateStatus' %}";
    const score_set = $(".js-data-scoringinfo-ajax").val() || 1;
    const customer_age = $(".col-5[data-customer-age]").data("customer-age");
    const occupation = $(".col-5[data-occupation]").data("occupation");
    const education = $(".col-5[data-education]").data("education");
    const minorchildren = $(".col-5[data-minorchildren]").data("minorchildren");
    const business_age = $(".col-5[data-business-age]").data("business-age");
    const reason = $(".col-5[data-reason]").data("reason");
    const residence = $(".col-5[data-residence]").data("residence");
    const living_type = $(".col-5[data-living-type]").data("living-type");
    const business_type = $(".col-5[data-business-type]").data("business-type");
    const profit = $(".col-5[data-profit]").data("profit");
    const category_occupation = $(".col-5[data-category-occupation]").data("category-occupation");
    const shop_type = $(".col-5[data-shop-type]").data("shop-type");
    const rentalage = $(".col-5[data-rentalage]").data("rentalage");

    const base_income = {{ installment_detail.base_income }};
    const debt_in = {{ installment_detail.debt_in }};
    const debt_informal = {{ installment_detail.debt_informal }};

    function calculateDebtIncome(priceInstallment, debtIn, debtInformal) {
        if (priceInstallment === 0) return 0;

        const totalDebt = debtIn + debtInformal;
        const debtIncomeRatio = (totalDebt / priceInstallment) * 100;

        return debtIncomeRatio.toFixed(2);
    }

    const debtIncome = calculateDebtIncome(base_income, debt_in, debt_informal);
    document.getElementById('debtIncome').textContent = `${debtIncome}%`;

    {% if customer_score %}
        const minimum_score = {{ customer_score.minimum_score }};
        const minimum_dept_income = {{ customer_score.minimum_dept_income }};
    {% else %}
        const minimum_score = null;
        const minimum_dept_income = null;
    {% endif %}

</script>
<script src="/nameList/js/detail.js?v=6"></script>
<link rel="stylesheet" href="{% static 'css/detail.css' %}?v=9" >
{% endblock %}