{% extends 'base.html' %} {% load static %} {% block title %}
<title id="titleHead"></title>
<style>
  .viewImg:hover {
    color: #fff;
    background-color: #03A9F3;
  }
</style>
{% endblock %} 
{% block content %}
<div class="content-body">
  <div class="container-fluid">
    <div >
      {% include "content.html" %}
    </div>
  </div>
</div>
{% endblock %} 
{% block script %}
<script>

  var company_id = "{{ request.session.company_id }}";
  var branch_id = "{{ request.session.branch_id }}";
  var branch_province_id = "{{ request.session.branch_province_id }}";
  const ref_id = new URLSearchParams(window.location.search).get("ref_id");
  const add_loan = window.location.pathname.includes("create");
  var guarantee = window.location.pathname.includes("guarantee");

  if (!guarantee) {
    $('#guarantee').addClass('d-none');
  }

  var idno = "{{ customer_loan_detail.idno }}";
  var brand_id = ref_id ? "{{ contract_into.brand_id }}" : "{{ brand.id }}";
  var model_id = ref_id ? "{{ contract_into.model_id }}" : "{{ model.id }}";
  var ref_sub_model_id = "{{ contract_into.sub_model_id }}";
  var province_id = "{{ province_name.id }}";
  var amphoe_id = "{{ amphoe_name.id }}";
  var customer_id = "{{ id }}";
  var bank_id = "{{ customer_loan_detail.bank_id }}";

  var urlMasterOfficer = "{% url 'nameList:MasterOfficer' %}";
  var urlinterest = "{% url 'nameList:interest' %}";
  var urlMasterCustomerPrename = "{% url 'nameList:MasterCustomerPrename' %}";
  var urlMasterNumberOfInstallment = "{% url 'nameList:MasterNumberOfInstallment' %}";
  var urlMasterOccupation = "{% url 'nameList:MasterOccupation' %}";
  var urlMastercustomerage = "{% url 'nameList:Mastercustomerage' %}";
  var urlMasterminorchildren = "{% url 'nameList:Masterminorchildren' %}";
  var urlMastereducationlevel = "{% url 'nameList:Mastereducationlevel' %}";
  var urlBusinesstype = "{% url 'nameList:businesstype' %}";
  var urlMastershoptypes = "{% url 'nameList:Mastershoptypes' %}";
  var urlMasterrentalage = "{% url 'nameList:Masterrentalage' %}";
  var urlMastermonthlyprofit = "{% url 'nameList:Mastermonthlyprofit' %}";
  var urlMasterbusinessage = "{% url 'nameList:Masterbusinessage' %}";
  var urlMastercontractreason = "{% url 'nameList:Mastercontractreason' %}";
  var urlMasterProvinceSave = "{% url 'nameList:MasterProvince' %}";
  var urlMasterbranch = "{% url 'nameList:Masterbranch' %}";
  var urlMastercountry = "{% url 'nameList:Mastercountry' %}";
  var urlMasterProvince = "{% url 'nameList:MasterProvince' %}";
  var urlMasterAmphoe = "{% url 'nameList:MasterAmphoe' %}";
  var urlMasterTambon = "{% url 'nameList:MasterTambon' %}";
  var urlMasterResidence = "{% url 'nameList:MasterResidence' %}";
  var urlMasterLivingOwner = "{% url 'nameList:MasterLivingOwner' %}";
  var urlMasterLivingType = "{% url 'nameList:MasterLivingType' %}";
  var urlMasterProvincecurrent = "{% url 'nameList:MasterProvince' %}";
  var urlMasterAmphoecurrent = "{% url 'nameList:MasterAmphoe' %}";
  var urlMasterTamboncurrent = "{% url 'nameList:MasterTambon' %}";
  var urlMasterResidencecurrent = "{% url 'nameList:MasterResidence' %}";
  var urlMasterLivingOwnercurrent = "{% url 'nameList:MasterLivingOwner' %}";
  var urlMasterLivingTypecurrent = "{% url 'nameList:MasterLivingType' %}";
  var urlMasterProvinceCompany = "{% url 'nameList:MasterProvince' %}";
  var urlMasterAmphoeCompany = "{% url 'nameList:MasterAmphoe' %}";
  var urlMasterTambonCompany = "{% url 'nameList:MasterTambon' %}";
  var urlMasterBank = "{% url 'nameList:MasterBank' %}";
  var urlMasterContractDocument = "{% url 'nameList:MasterContractDocument' %}";
  var urlrangeAge = "{% url 'nameList:rangeAge' %}";
  var urlMasterBrand = "{% url 'nameList:MasterBrand' %}";
  var urlappraiser = "{% url 'nameList:appraiser' %}";
  var urlproduct_type = "{% url 'nameList:product_type' %}";
  var urlMasterModel = "{% url 'nameList:MasterModel' %}";
  var urlMasterSubModel = "{% url 'nameList:MasterSubModel' %}";
  var urlMasterColor = "{% url 'nameList:MasterColor' %}";
  var urlmortgage_type = "{% url 'nameList:mortgage_type' %}";
  
  var price_installment = "{{ customer_loan_detail.price_installment }}";
  var startPaymentDate = "{{ formatted_date_time_start_payment }}";
  var birthDate = "{{ formatted_date_time_birth_date }}";
  var issue_date = "{{ formatted_date_time_issue_date }}";
  var expire_date = "{{ formatted_date_time_expire_date }}";
  var read_card = "{{ formatted_date_time_date_read_card }}";
  var salary_day = "{{ customer_loan_detail.salary_day }}";
  var ref_engine_no = "{{ contract_into.engine_no }}";
  var ref_chassis_no = "{{ contract_into.chassis_no }}";
  var machine_no = "{{ customer_loan_detail.machine_no }}";
  var chassis_no = "{{ customer_loan_detail.chassis_no }}"
  var reg_date = "{{ formatted_date_time_issue_date }}";
  var reg_expire = "{{ formatted_date_time_issue_date }}";
  var date_estimate = "{{ formatted_date_time_issue_date }}";
  var mortgage_date = "{{ formatted_date_time_issue_date }}";
  var issue_date_collateral = "{{ formatted_date_time_issue_date }}";

</script>


<script src="{% static 'js/form_common_script.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/form_common.css' %}">
{% endblock %}