<!-- Template ของ รถ/เล่มทะเบียน -->
<template id="template_collateral_type_1">
    <div class="row">
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> กลุ่มหลักประกัน</label>
                <div class="col-lg-8">
                    <select class="js-data-product_type-ajax w-100 select2-lg" id="product_type" name="product_type" ></select>
                    <div class="invalid-feedback">กรุณาเลือกกลุ่มหลักประกัน</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> เลขตัวถัง</label>
                <div class="col-lg-8">
                    <input class="form-control" id="chassis_no" name="chassis_no" placeholder="เลขตัวถัง" value=""  />
                    <div class="invalid-feedback">กรุณาระบุเลขตัวถัง</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> เลขเครื่อง </label>
                <div class="col-lg-8">
                    <input class="form-control" id="engine_no" name="engine_no" placeholder="เลขเครื่อง " value=""  />
                    <div class="invalid-feedback">กรุณาระบุเลขเครื่อง </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="mb-3 row">
                <label class="col-lg-2 col-form-label font-weight-bold" style="width: 12.5%;"><span class="text-danger">*</span> ยี่ห้อ </label>
                <div class="col-lg-10">
                     <select class="js-data-brand-ajax w-100 select2-lg" id="brand" name="brand" ></select>
                    <div class="invalid-feedback">กรุณาเลือกยี่ห้อ</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label">ปีที่ผลิต </label>
                <div class="col-lg-8">
                    <input class="form-control" id="manu_year" name="manu_year" placeholder="ปีที่ผลิต " value=""  />
                    <div class="invalid-feedback">กรุณาระบุปีที่ผลิต </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="mb-3 row">
                <label class="col-lg-2 col-form-label font-weight-bold" style="width: 12.5%;"><span class="text-danger">*</span> รุ่น </label>
                <div class="col-lg-10">
                     <select class="js-data-model-ajax w-100 select2-lg" id="model" name="model" ></select>
                    <div class="invalid-feedback">กรุณาเลือกรุ่น</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label">เลขไมล์ </label>
                <div class="col-lg-8">
                    <input class="form-control" id="mile" name="mile" placeholder="เลขไมล์ " value=""  />
                    <div class="invalid-feedback">กรุณาระบุเลขไมล์ </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="mb-3 row">
                <label class="col-lg-2 col-form-label font-weight-bold" style="width: 12.5%;"><span class="text-danger">*</span> แบบ </label>
                <div class="col-lg-10">
                     <select class="js-data-sub_model-ajax w-100 select2-lg" id="sub_model" name="sub_model" ></select>
                    <div class="invalid-feedback">กรุณาเลือกแบบ</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> ซีซี </label>
                <div class="col-lg-8">
                    <input class="form-control" id="cc" name="cc" placeholder="เลขไมล์ " value=""  />
                    <div class="invalid-feedback">กรุณาระบุซีซี </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="mb-3 row">
                <label class="col-lg-2 col-form-label font-weight-bold" style="width: 12.5%;"><span class="text-danger">*</span> สี </label>
                <div class="col-lg-10">
                     <select class="js-data-color-ajax w-100 select2-lg" id="color" name="color" ></select>
                    <div class="invalid-feedback">กรุณาเลือกสี</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label">อายุรถ ปี </label>
                <div class="col-lg-3">
                    <input class="form-control" id="car_age_year" name="car_age_year" placeholder="อายุรถ" value=""  />
                    <div class="invalid-feedback">กรุณาระบุอายุรถ ปี </div>
                </div>
                <label class="col-lg-2 col-form-label ">อายุรถ เดือน </label>
                 <div class="col-lg-3">
                    <input class="form-control" id="car_age_month" name="car_age_month" placeholder="อายุรถ" value=""  />
                    <div class="invalid-feedback">กรุณาระบุเดือน </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> เลขทะเบียน</label>
                <div class="col-lg-8">
                    <input class="form-control" id="reg_no" name="reg_no" placeholder="เลขทะเบียน" value=""  />
                    <div class="invalid-feedback">กรุณาระบุเลขทะเบียน</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ทะเบียนจังหวัด</label>
                <div class="col-lg-8">
                    <select class="js-data-province_reg-ajax w-100 select2-lg" id="province_reg" name="province_reg" ></select>
                    <div class="invalid-feedback">กรุณาเลือกทะเบียนจังหวัด</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> วันที่จดทะเบียน </label>
                <div class="col-lg-8">
                    <input class="form-control" id="reg_date" name="reg_date" placeholder="วันที่จดทะเบียน " value=""  />
                    <div class="invalid-feedback">กรุณาระบุวันที่จดทะเบียน </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> ทะเบียนหมดอายุ</label>
                <div class="col-lg-8">
                    <input class="form-control" id="reg_expire" name="reg_expire" placeholder="ทะเบียนหมดอายุ" value=""  />
                    <div class="invalid-feedback">กรุณาระบุทะเบียนหมดอายุ</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ราคาประเมิน</label>
                <div class="col-lg-8">
                    <input class="form-control" id="price_estimate" name="price_estimate" placeholder="ราคาประเมิน" value=""  />
                    <div class="invalid-feedback">กรุณาระบุทะเบียนหมดอายุ</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> Rate Book </label>
                <div class="col-lg-8">
                    <input class="form-control" id="rate_book" name="rate_book" placeholder="Rate Book " value=""  />
                    <div class="invalid-feedback">กรุณาระบุ Rate Book </div>
                </div>
            </div>
        </div>

    </div>
</template>

<!-- Template ที่ดินเปล่า-->
<template id="template_collateral_type_2">
    <div class="row">
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> กลุ่มหลักประกัน</label>
                <div class="col-lg-8">
                    <select class="js-data-product_type-ajax w-100 select2-lg" id="product_type" name="product_type" ></select>
                    <div class="invalid-feedback">กรุณาเลือกกลุ่มหลักประกัน</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> เลขโฉนด</label>
                <div class="col-lg-8">
                    <input class="form-control" id="chassis_no" name="chassis_no" placeholder="เลขโฉนด" value=""  />
                    <div class="invalid-feedback">กรุณาระบุเลขโฉนด</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ระวางที่ดิน</label>
                <div class="col-lg-8">
                    <input class="form-control" id="engine_no" name="engine_no" placeholder="ระวางที่ดิน" value=""  />
                    <div class="invalid-feedback">กรุณาระบุระวางที่ดิน</div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> เลขที่ดิน</label>
                <div class="col-lg-8">
                    <input class="form-control" id="land_no" name="land_no" placeholder="เลขที่ดิน" value=""  />
                    <div class="invalid-feedback">กรุณาระบุเลขที่ดิน</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> หน้าสำรวจ</label>
                <div class="col-lg-8">
                    <input class="form-control" id="survey_no" name="survey_no" placeholder="หน้าสำรวจ" value=""  />
                    <div class="invalid-feedback">กรุณาระบุหน้าสำรวจ</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label">เล่ม</label>
                <div class="col-lg-8">
                    <input class="form-control" id="book_no_collateral" name="book_no_collateral" placeholder="เล่ม" value=""  />
                    <div class="invalid-feedback">กรุณาระบุเล่ม</div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label">หน้า</label>
                <div class="col-lg-8">
                    <input class="form-control" id="page_no" name="page_no" placeholder="หน้า" value=""  />
                    <div class="invalid-feedback">กรุณาระบุหน้า</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label">วันที่ออกโฉนด</label>
                <div class="col-lg-8">
                    <input class="form-control" id="issue_date_collateral" name="issue_date_collateral" placeholder="วันที่ออกโฉนด" value=""  />
                    <div class="invalid-feedback">กรุณาระบุวันที่ออกโฉนด</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> จังหวัด </label>
                <div class="col-lg-8">
                    <select class="js-data-province_collateral_type-ajax w-100 select2-lg" id="province_collateral_type" name="province_collateral_type" ></select>
                    <div class="invalid-feedback">กรุณาเลือกจังหวัด </div>
                </div>
            </div>
        </div>

         <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> อำเภอ/เขต</label>
                <div class="col-lg-8">
                    <select class="js-data-amphoe_collateral_type-ajax w-100 select2-lg" id="amphoe_collateral_type" name="amphoe_collateral_type" ></select>
                    <div class="invalid-feedback">กรุณาเลือกอำเภอ/เขต</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ตำบล/แขวง</label>
                <div class="col-lg-8">
                    <select class="js-data-tambon_collateral_type-ajax w-100 select2-lg" id="tambon_collateral_type" name="tambon_collateral_type" ></select>
                    <div class="invalid-feedback">กรุณาเลือกตำบล/แขวง</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> ไร่</label>
                <div class="col-lg-8">
                    <input class="form-control" id="booraik_no" name="rai" placeholder="ไร่" value=""  />
                    <div class="invalid-feedback">กรุณาระบุไร่</div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> งาน</label>
                <div class="col-lg-8">
                    <input class="form-control" id="ngan" name="ngan" placeholder="งาน" value=""  />
                    <div class="invalid-feedback">กรุณาระบุงาน </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ตารางวา</label>
                <div class="col-lg-8">
                    <input class="form-control" id="square_wa" name="square_wa" placeholder="ตารางวา" value=""  />
                    <div class="invalid-feedback">กรุณาระบุตารางวา </div>
                </div>
            </div>
        </div>
         <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> มูลค่าจำนอง</label>
                <div class="col-lg-8">
                    <input class="form-control" id="mortgage_amount" name="mortgage_amount" placeholder="มูลค่าจำนอง" value=""  />
                    <div class="invalid-feedback">กรุณาระบุมูลค่าจำนอง </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> วันที่จำนอง</label>
                <div class="col-lg-8">
                    <input class="form-control" id="mortgage_date" name="mortgage_date" placeholder="วันที่จำนอง" value=""  />
                    <div class="invalid-feedback">กรุณาระบุตารางวา </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ประเภทการจำนอง</label>
                <div class="col-lg-8">
                  <select class="js-data-mortgage_type-ajax w-100 select2-lg" id="mortgage_type" name="mortgage_type" ></select>
                  <div class="invalid-feedback">กรุณาเลือกประเภทการจำนอง</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> ติดทางสาธารณะประโยชน์</label>
                <div class="col-lg-8">
                  <select class="js-data-land_status-ajax w-100 select2-lg" id="land_status" name="land_status" >
                    <option value="Y">ใช่</option>
                    <option value="N" >ไม่ใช่</option> 
                  </select>
                  <div class="invalid-feedback">กรุณาเลือกประเภทติดทางสาธารณะประโยชน์</div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ราคาที่ดิน (ประเมินราชการ)</label>
                <div class="col-lg-8">
                    <input class="form-control" id="land_appraisal_government" name="land_appraisal_government" placeholder="ราคาที่ดิน" value=""  />
                    <div class="invalid-feedback">กรุณาระบุราคาที่ดิน (ประเมินราชการ) </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> ราคาที่ดิน (ประเมินบริษัท)</label>
                <div class="col-lg-8">
                  <input class="form-control" id="land_appraisal_company" name="land_appraisal_company" placeholder="ราคาที่ดิน" value=""  />
                  <div class="invalid-feedback">กรุณาระบุราคาที่ดิน (ประเมินบริษัท) </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ราคาประเมินที่ดิน</label>
                <div class="col-lg-8">
                    <input class="form-control" id="land_appraisal" name="land_appraisal" placeholder="ราคาประเมินที่ดิน" value=""  />
                    <div class="invalid-feedback">กรุณาระบุตารางวา </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ราคาประเมิน</label>
                <div class="col-lg-8">
                    <input class="form-control" id="price_estimate" name="price_estimate" placeholder="ราคาประเมิน" value=""  />
                    <div class="invalid-feedback">กรุณาระบุทะเบียนหมดอายุ</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label">Rate Book </label>
                <div class="col-lg-8">
                    <input class="form-control" id="rate_book" name="rate_book" placeholder="Rate Book " value=""  />
                    <div class="invalid-feedback">กรุณาระบุ Rate Book </div>
                </div>
            </div>
        </div>

</template>

<!-- Template ที่ดินพร้อมสิ่งปลูกสร้าง -->
<template id="template_collateral_type_3">
    <div class="row">
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> กลุ่มหลักประกัน</label>
                <div class="col-lg-8">
                    <select class="js-data-product_type-ajax w-100 select2-lg" id="product_type" name="product_type" ></select>
                    <div class="invalid-feedback">กรุณาเลือกกลุ่มหลักประกัน</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> เลขโฉนด</label>
                <div class="col-lg-8">
                    <input class="form-control" id="chassis_no" name="chassis_no" placeholder="เลขโฉนด" value=""  />
                    <div class="invalid-feedback">กรุณาระบุเลขโฉนด</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ระวางที่ดิน</label>
                <div class="col-lg-8">
                    <input class="form-control" id="engine_no" name="engine_no" placeholder="ระวางที่ดิน" value=""  />
                    <div class="invalid-feedback">กรุณาระบุระวางที่ดิน</div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> เลขที่ดิน</label>
                <div class="col-lg-8">
                    <input class="form-control" id="land_no" name="land_no" placeholder="เลขที่ดิน" value=""  />
                    <div class="invalid-feedback">กรุณาระบุเลขที่ดิน</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> หน้าสำรวจ</label>
                <div class="col-lg-8">
                    <input class="form-control" id="survey_no" name="survey_no" placeholder="หน้าสำรวจ" value=""  />
                    <div class="invalid-feedback">กรุณาระบุหน้าสำรวจ</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label">เล่ม</label>
                <div class="col-lg-8">
                    <input class="form-control" id="book_no_collateral" name="book_no_collateral" placeholder="เล่ม" value=""  />
                    <div class="invalid-feedback">กรุณาระบุเล่ม</div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> หมู่บ้าน/อาคาร</label>
                <div class="col-lg-8">
                    <input class="form-control" id="village_collateral" name="village_collateral" placeholder="หมู่บ้าน/อาคาร" value=""  />
                    <div class="invalid-feedback">กรุณาระบุหมู่บ้าน/อาคาร</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ซอย</label>
                <div class="col-lg-8">
                    <input class="form-control" id="soi_collateral" name="soi_collateral" placeholder="ซอย" value=""  />
                    <div class="invalid-feedback">กรุณาระบุซอย</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ถนน</label>
                <div class="col-lg-8">
                    <input class="form-control" id="road_collateral" name="road_collateral" placeholder="ถนน" value=""  />
                    <div class="invalid-feedback">กรุณาระบุถนน</div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> จังหวัด</label>
                <div class="col-lg-8">
                    <select class="js-data-province_collateral_type-ajax w-100 select2-lg" id="province_collateral_type" name="province_collateral_type" ></select>
                    <div class="invalid-feedback">กรุณาเลือกกจังหวัด</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> อำเภอ/เขต</label>
                <div class="col-lg-8">
                    <select class="js-data-amphoe_collateral_type-ajax w-100 select2-lg" id="amphoe_collateral_type" name="amphoe_collateral_type" ></select>
                    <div class="invalid-feedback">กรุณาเลือกอำเภอ/เขต</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ตำบล/แขวง</label>
                <div class="col-lg-8">
                    <select class="js-data-tambon_collateral_type-ajax w-100 select2-lg" id="tambon_collateral_type" name="tambon_collateral_type"  ></select>
                    <div class="invalid-feedback">กรุณาเลือกตำบล/แขวง</div>
                </div>
            </div>
        </div>

         <div class="col-lg-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label">อายุสิ่งปลูกสร้าง ปี </label>
                <div class="col-lg-3">
                    <input class="form-control" id="building_age_year" name="building_age_year" placeholder="อายุ" value=""  />
                    <div class="invalid-feedback">กรุณาระบุอายุสิ่งปลูกสร้าง ปี </div>
                </div>
                <label class="col-lg-2 col-form-label font-weight-bold"><span class="text-danger">*</span>  เดือน </label>
                 <div class="col-lg-3">
                    <input class="form-control" id="building_age_month" name="building_age_month" placeholder="อายุ" value=""  />
                    <div class="invalid-feedback">กรุณาระบุอายุสิ่งปลูกสร้าง เดือน </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="mb-3 row">
                <label class="col-lg-2 col-form-label" style="width: 12.5%;"> ลักษณะที่อยู่อาศัย </label>
                <div class="col-lg-10">
                     <select class="js-data-residence_collateral-ajax w-100 select2-lg" id="residence_collateral" name="residence_collateral" ></select>
                    <div class="invalid-feedback">กรุณาเลือกลักษณะที่อยู่อาศัย</div>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
          <div class="mb-3 row">
            <label class="col-xl-1 col-form-label">
               สถานที่ใกล้เคียง
            </label>
            <div class="col-xl-11" style="width: 89%;">
              <input class="form-control" id="relate_collateral" name="relate_collateral" placeholder="สถานที่ใกล้เคียง" value=""  />
              <div class="invalid-feedback">กรุณาเลือกสถานที่ใกล้เคียง</div>
            </div>
          </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> ไร่</label>
                <div class="col-lg-8">
                    <input class="form-control" id="rai" name="rai" placeholder="ไร่" value=""  />
                    <div class="invalid-feedback">กรุณาระบุไร่</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> งาน</label>
                <div class="col-lg-8">
                    <input class="form-control" id="ngan" name="ngan" placeholder="งาน" value=""  />
                    <div class="invalid-feedback">กรุณาระบุงาน </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> ตารางวา</label>
                <div class="col-lg-8">
                    <input class="form-control" id="square_wa" name="square_wa" placeholder="ตารางวา" value=""  />
                    <div class="invalid-feedback">กรุณาระบุตารางวา </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> พื้นที่ใช้สอย/ตรม.</label>
                <div class="col-lg-8">
                    <input class="form-control" id="usable_area" name="usable_area" placeholder="พื้นที่ใช้สอย/ตรม." value=""  />
                    <div class="invalid-feedback">กรุณาระบุพื้นที่ใช้สอย/ตรม.</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> มูลค่าจำนอง</label>
                <div class="col-lg-8">
                    <input class="form-control" id="mortgage_amount" name="mortgage_amount" placeholder="มูลค่าจำนอง" value=""  />
                    <div class="invalid-feedback">กรุณาระบุมูลค่าจำนอง </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> วันที่จำนอง</label>
                <div class="col-lg-8">
                    <input class="form-control" id="mortgage_date" name="mortgage_date" placeholder="วันที่จำนอง" value=""  />
                    <div class="invalid-feedback">กรุณาระบุวันที่จำนอง </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> ประเภทการจำนอง</label>
                <div class="col-lg-8">
                  <select class="js-data-mortgage_type-ajax w-100 select2-lg" id="mortgage_type" name="mortgage_type" ></select>
                  <div class="invalid-feedback">กรุณาเลือกประเภทการจำนอง</div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ราคาที่ดิน (ประเมินราชการ)</label>
                <div class="col-lg-8">
                    <input class="form-control" id="land_appraisal_government" name="land_appraisal_government" placeholder="ราคาที่ดิน" value=""   />
                    <div class="invalid-feedback">กรุณาระบุราคาที่ดิน (ประเมินราชการ) </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ราคาสิ่งปลูกสร้าง (ประเมินราชการ)</label>
                <div class="col-lg-8">
                    <input class="form-control" id="building_appraisal_government" name="building_appraisal_government" placeholder="ราคาสิ่งปลูกสร้าง" value=""  />
                    <div class="invalid-feedback">กรุณาระบุราคาสิ่งปลูกสร้าง (ประเมินราชการ) </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> ราคาที่ดิน (ประเมินบริษัท)</label>
                <div class="col-lg-8">
                  <input class="form-control" id="land_appraisal_company" name="land_appraisal_company" placeholder="ราคาที่ดิน" value=""  />
                  <div class="invalid-feedback">กรุณาระบุราคาที่ดิน (ประเมินบริษัท) </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> ราคาสิ่งปลูกสร้าง (ประเมินบริษัท)</label>
                <div class="col-lg-8">
                    <input class="form-control" id="building_appraisal_company" name="building_appraisal_company" placeholder="ราคาสิ่งปลูกสร้าง" value=""  />
                    <div class="invalid-feedback">กรุณาระบุราคาสิ่งปลูกสร้าง (ประเมินบริษัท) </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ราคาประเมินที่ดิน</label>
                <div class="col-lg-8">
                    <input class="form-control" id="land_appraisal" name="land_appraisal" placeholder="ราคาประเมินที่ดิน" value=""  />
                    <div class="invalid-feedback">กรุณาระบุราคาประเมินที่ดิน </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ราคาประเมินสิ่งปลูกสร้าง</label>
                <div class="col-lg-8">
                  <input class="form-control" id="land_appraisal_government" name="land_appraisal_government" placeholder="ราคาประเมินสิ่งปลูกสร้าง" value=""  />
                  <div class="invalid-feedback">กรุณาระบุราคาประเมินสิ่งปลูกสร้าง </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ราคาประเมิน</label>
                <div class="col-lg-8">
                    <input class="form-control" id="price_estimate" name="price_estimate" placeholder="ราคาประเมิน" value=""  />
                    <div class="invalid-feedback">กรุณาระบุราคาประเมิน </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="mb-3 row">
                <label class="col-lg-3 col-form-label"> Rate Book</label>
                <div class="col-lg-8">
                    <input class="form-control" id="rate_book" name="rate_book" placeholder="Rate Book" value=""  />
                    <div class="invalid-feedback">กรุณาระบุ Rate Book </div>
                </div>
            </div>
        </div>

    </div>
</template>

<!-- Template อื่นๆ -->
<template id="template_collateral_type_4">
  <div class="row">
    <div class="col-xl-4">
        <div class="mb-3 row">
            <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> กลุ่มหลักประกัน</label>
            <div class="col-lg-8">
                <select class="js-data-product_type-ajax w-100 select2-lg" id="product_type" name="product_type" ></select>
                <div class="invalid-feedback">กรุณาเลือกกลุ่มหลักประกัน</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="mb-3 row">
            <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> รหัสหลักทรัพย์</label>
            <div class="col-lg-8">
                <input class="form-control" id="chassis_no" name="chassis_no" placeholder="รหัสหลักทรัพย์" value=""  />
                <div class="invalid-feedback">กรุณาระบุเลขตัวถัง</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="mb-3 row">
            <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> เลขที่อ้างอิง </label>
            <div class="col-lg-8">
                <input class="form-control" id="engine_no" name="engine_no" placeholder="เลขที่อ้างอิง " value=""  />
                <div class="invalid-feedback">กรุณาระบุเลขเครื่อง </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4">
        <div class="mb-3 row">
            <label class="col-lg-3 col-form-label font-weight-bold"><span class="text-danger">*</span> ราคาประเมิน</label>
            <div class="col-lg-8">
                <input class="form-control" id="price_estimate" name="price_estimate" placeholder="ราคาประเมิน" value=""  />
                <div class="invalid-feedback">กรุณาระบุทะเบียนหมดอายุ</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="mb-3 row">
            <label class="col-lg-3 col-form-label"> Rate Book </label>
            <div class="col-lg-8">
                <input class="form-control" id="rate_book" name="rate_book" placeholder="Rate Book " value=""  />
                <div class="invalid-feedback">กรุณาระบุ Rate Book </div>
            </div>
        </div>
    </div>
  <div>
</template>