@font-face {
  font-family: "Noto Sans Thai";
  src: url("/static/fonts/NotoSansThai-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Noto Sans Thai";
  src: url("/static/fonts/NotoSansThai-Bold.woff") format("woff"), url("/static/fonts/NotoSansThai-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.card-header {
  background-color: #03a9f3;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.badgeStatus {
  font-size: 8px;
  padding: 0.25rem 0.5rem;
  margin-top: -1%;
}

.toast-success {
  background-color: #03a9f3 !important;
  color: #fff !important;
}

.toast-success .toast-title {
  color: #fff !important;
}

.toast-success .toast-message {
  color: #fff !important;
}

.piechart-legends ul {
  list-style: none;
  margin-left: 1.5rem;
  padding-left: 0;
}

.piechart-legends li {
  margin-bottom: 0.25rem;
  white-space: nowrap;
}

.piechart-legends span {
  display: inline-block;
  vertical-align: middle;
  border-radius: 1rem;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.5rem;
}

.piechart-legends-info li {
  margin-bottom: 0.25rem;
  white-space: nowrap;
}

.rtl .piechart-legends ul {
  list-style: none;
  margin-left: 0;
  margin-right: 1.5rem;
  padding-right: 0;
}

.rtl .piechart-legends span {
  margin-left: 0.5rem;
  margin-right: 0;
}

.k-ml-2 {
  font-size: 12px;
  margin-left: 1ch;
}

.cookiealert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  color: #ecf0f1;
  background: #212327;
}

.cookiealert.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  transition-delay: 1000ms;
}

.cookiealert a {
  text-decoration: underline;
}

.cookiealert .acceptcookies {
  margin-left: 10px;
  vertical-align: baseline;
}

.select2,
.select2-results {
  font-size: 13px !important;
}

.select2-container .select2-selection--single {
  height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px !important;
  color: #6e6e6e !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  /* background-color: #ccc !important; */
  height: 38.5px !important;
  border-radius: 0 1px 1px 0px;
}

.table thead {
  border: 0;
}

.table thead th {
  background: #03a9f3;
  color: #fff;
  border: 0;
}

.table thead th:first-of-type {
  border-top-left-radius: 10px;
}

.table thead th:last-of-type {
  border-top-right-radius: 10px;
}

.font14 {
  font-size: 14px !important;
}

.menu-search {
  margin: 10px 0;
  padding: 0 15px;
}

.menu-search input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.grid_font_size .k-grid-header th {
  font-size: 14px;
}

.grid_font_size .k-grid-content td {
  font-size: 12px;
}

.grid_font_size .k-toolbar {
  font-size: 13px;
}

#openDialogButton.k-button {
  background-color: #03a9f3;
  color: white;
}

.k-dialog-titlebar {
  background-color: #03a9f3 !important;
}

.k-prompt-container,
.k-window-content {
  font-size: 18px !important;
}

.k-window-title {
  font-size: 20px !important;
}

.k-button-solid-base {
  font-size: 18px !important;
}

.k-window,
.k-window-titlebar {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.k-window {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.k-toolbar .k-input,
.k-toolbar .k-picker {
  width: 15% !important;
  height: 40px !important;
}

.btn-outline-primary {
  --bs-btn-color: #0069d9;
  --bs-btn-border-color: #0069d9;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #0069d9;
  --bs-btn-hover-border-color: #0069d9;
  --bs-btn-focus-shadow-rgb: 13, 153, 255;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #0069d9;
  --bs-btn-active-border-color: #0069d9;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0069d9;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0069d9;
  --bs-gradient: none;
}

:root {
  --bs-emphasis-color: rgb(20, 63, 85);
}

.tooltip-inner {
  border-radius: 0;
  border-color: var(--bs-emphasis-color);
  color: #fff;
  background-color: var(--bs-emphasis-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.tooltip-arrow {
  border-top-color: var(--bs-emphasis-color) !important;
}

.input_conf {
  width: 80;
  height: 50%;
  border-radius: 20px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
}

#empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#empty-state .fas {
  font-size: 60px;
  color: #ccc;
}

#empty-state p {
  margin-top: 1rem;
}
