{% extends "base.html" %} {% load static %} {% block title %}
<title>ข้อมูลผู้ขอสินเชื่อ</title>
{% endblock %} {% block content %}

<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body p-2">
            <div class="mb-3 mt-3 d-flex justify-content-between">
              <h3 style="margin-left: 13px" id="title"></h3>
              {% if auth_insert_info == True %}
              <a id="openDialogButton" class="btn btn-success"><i class="fa-solid fa-circle-plus"></i>เพิ่มข้อมูล</a>
              {% endif %}
            </div>
            <hr />
            <form method="POST">
              {% csrf_token %} {% comment %}
              <div id="form_data"></div>
              {% endcomment %}
              <table id="example" class="display table">
                <thead>
                  <tr>
                    <th>ลำดับ</th>
                    <th>
                        {% if data_type == "grade" %}
                            เกรด
                        {% else %}
                            ชื่อ
                        {% endif %}
                    </th>
                    {% if data_type == "scoring" %}
                    <th><span style='cursor: pointer' data-bs-toggle='tooltip' title='คะแนนขั้นต่ำ (เกณฑ์ของผู้มีรายได้สม่ำเสมอ)'>คะแนนขั้นต่ำ...</span></th>
                    <th><span style='cursor: pointer' data-bs-toggle='tooltip' title='หนี้ต่อรายได้ขั้นต่ำ (เกณฑ์ของผู้มีรายได้สม่ำเสมอ)'>หนี้ต่อรายได้ขั้นต่ำ...</span></th>
                    <th><span style='cursor: pointer' data-bs-toggle='tooltip' title='คะแนนขั้นต่ำ (เกณฑ์ของผู้มีรายได้ไม่สม่ำเสมอ)'>คะแนนขั้นต่ำ...</span></th>
                    <th><span style='cursor: pointer' data-bs-toggle='tooltip' title='หนี้ต่อรายได้ขั้นต่ำ (เกณฑ์ของผู้มีรายได้ไม่สม่ำเสมอ)'>หนี้ต่อรายได้ขั้นต่ำ...</span></th>
                    <th>ผู้บันทึก</th>
                    {% endif %}

                    <th>สถานะ</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% if type_obj %} {% for grade in type_obj %}
                  <tr>
                    <td>{{ forloop.counter }}</td>

                    {% if data_type == "grade" %}
                        <td><input class='form-control input_conf text1' value='{{ grade.grade_code }}'></td>
                    {% else %}
                        <td><input class='form-control input_conf text1' style="width: 120;" value='{{ grade.score_name }}'></td>
                        <td><input class='form-control input_conf text2' value='{{ grade.stable_min }}'></td>
                        <td><input class='form-control input_conf text3' value='{{ grade.stable_percent }}'></td>
                        <td><input class='form-control input_conf text4' value='{{ grade.not_stable_min }}'></td>
                        <td><input class='form-control input_conf text5' value='{{ grade.not_stable_percent }}'></td>
                        <td>{{ grade.first_name }}</td>
                    {% endif %}

                    <td>
                        <div class="d-flex justify-content-between border-0" id="status-{{ grade.id }}">
                            <ul class="nav nav-tabs dzm-tabs" role="tablist" style="background-color: #ebebeb;">
                              <li class="nav-item" role="presentation" onclick="changStatus('active', {{ grade.id }},  'A', '{{status_type}}')">
                                <button class="nav-link btn btn-success btn-sm" type="button" role="tab" aria-selected="false"
                                  id="status-active-{{ grade.id }}"
                                  {% if grade.status == "A" %} style="background-color: #3AC977;" {% endif %}>
                                  ใช้งาน
                                </button>
                              </li>
                              <li class="nav-item" role="presentation" onclick="changStatus('inActive', {{ grade.id }},  'C', '{{status_type}}')">
                                <button class="nav-link btn btn-danger btn-sm" type="button" role="tab" aria-selected="true"
                                  id="status-inactive-{{ grade.id }}"
                                  {% if grade.status == "C" %} style="background-color: #E46A76;" {% endif %}>
                                  ไม่ใช้งาน
                                </button>
                              </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        {% if data_type == "scoring" %}
                            <a href="detail/{{ grade.id }}" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" title="รายละเอียด">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                        {% endif %}

                        <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="tooltip" title="บันทึก" onclick="submitData(this,{{ grade.id }},'save','{{status_type}}','A','{{data_type}}')"><i class="fas fa-save"></i></button>
                        <button class="btn btn-outline-danger btn-sm" data-bs-toggle="tooltip" type="button" title="ลบ" onclick="submitData(this,{{ grade.id }},'delete','{{status_type}}','C','{{data_type}}')"><i class="fas fa-trash"></i></button>
                    </td>
                  </tr>
                  {% endfor %} {% else %}
                  <tr>
                    <td colspan="8" class="text-center">ไม่พบข้อมูล</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
  var authEdit = "{{ auth_edit_delete }}";
  var typeUrl = "{{ grade_type }}";

  if (typeUrl == "grade-income") {
    title = "กำหนดข้อมูล เกรดผู้มีรายได้ประจำ";
    $("#title").text(title);
  } else if (typeUrl == "grade-unstable") {
    title = "กำหนดข้อมูล เกรดผู้มีรายได้ไม่สม่ำเสมอ";
    $("#title").text(title);
  } else if (typeUrl == "scoring") {
    title = "กำหนดข้อมูล การให้คะแนนผู้กู้";
    $("#title").text(title);
  }

  $(document).ready(function () {
    $("#openDialogButton").kendoButton({
      cssClass: "custom-button",
    });
// ใช้ JavaScript ในการเปิดใช้งาน tooltip
var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));


  });

  var urlupdateStatus = "{% url 'configurations:updateStatus' %}";
  var urlupdateData = "{% url 'configurations:updateData' %}";

  function submitData(btn, id, statusBtn,status_type,status,dataType) {
    var selectedRow = $(btn).closest("tr");

    console.log(id, statusBtn, status_type,dataType,typeUrl)

    var formData = new FormData();
    formData.append("id", id);
    formData.append("type_button", statusBtn);
    formData.append("data_type", dataType);

    if (typeUrl == "grade-income" || typeUrl == "grade-unstable") {
      var input_text1 = selectedRow.find("input.form-control.text1").val() || "";

      formData.append("grade_code", input_text1);
    } else {
      var input_text1 = selectedRow.find("input.form-control.text1").val() || "";
      var input_text2 = selectedRow.find("input.form-control.text2").val() || "";
      var input_text3 = selectedRow.find("input.form-control.text3").val() || "";
      var input_text4 = selectedRow.find("input.form-control.text4").val() || "";
      var input_text5 = selectedRow.find("input.form-control.text5").val() || "";

      formData.append("score_name", input_text1);
      formData.append("stable_min", input_text2);
      formData.append("stable_percent", input_text3);
      formData.append("not_stable_min", input_text4);
      formData.append("not_stable_percent", input_text5);
    }

    formData.append("type", status_type);

    console.log(input_text1)

    $.ajax({
      url: urlupdateData,
      type: "POST",
      data: formData,
      headers: {
        "X-CSRFToken": getCookie("csrftoken"),
      },
      contentType: false,
      processData: false,
      success: function (response) {
        if (response.status == "save success") {
          notification("success", "บันทึกสำเร็จ", "success", "ปิด");
        } else if (response.status == "delete success") {
          notification("success", "ลบสำเร็จ", "success", "ปิด");
          var grid = $("#grid").data("kendoGrid");
          var dataItem = grid.dataItem(selectedRow);
          grid.dataSource.remove(dataItem);
        } else if (response.status == "can't delete") {
          notification("แจ้งเตือน", "ไม่สามารถลบข้อมูลหลักได้", "warnning", "ปิด");
        }
      },
      error: function (error) {
        console.error("เกิดข้อผิดพลาด", error);
      },
    });
  }

  $("#openDialogButton").on("click", function (e) {
    e.preventDefault();

    $("#example tbody tr:contains('ไม่พบข้อมูล')").remove();

    let dataType = "{{ data_type }}"; 
    let rowCount = $("#example tbody tr").length + 1; 
    let newRow = "<tr>";

    newRow += `<td>${rowCount}</td>`; 

    if (dataType === "grade") {
        newRow += "<td><input class='form-control input_conf text1' value=''></td>";
    } else {
        newRow += "<td><input class='form-control input_conf text1' style='width: 120px;' value=''></td>";
        newRow += "<td><input class='form-control input_conf text2' value=''></td>";
        newRow += "<td><input class='form-control input_conf text3' value=''></td>";
        newRow += "<td><input class='form-control input_conf text4' value=''></td>";
        newRow += "<td><input class='form-control input_conf text5' value=''></td>";
        newRow += "<td>ยังไม่ได้บันทึก</td>";
    }

    newRow += `
    <td>
        <div class="d-flex justify-content-between border-0">
            <ul class="nav nav-tabs dzm-tabs" role="tablist" style="background-color: #ebebeb;">
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn btn-success btn-sm" type="button">
                        ใช้งาน
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn btn-danger btn-sm" type="button">
                        ไม่ใช้งาน
                    </button>
                </li>
            </ul>
        </div>
    </td>`;

    newRow += `
    <td>
        <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="tooltip" title="บันทึก" onclick="submitData(this,${rowCount},'save','{{status_type}}','A','{{data_type}}')">
            <i class="fas fa-save"></i>
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="tooltip" title="ลบ" onclick="removeRow(this)">
            <i class="fas fa-trash"></i>
        </button>
    </td>`;

    newRow += "</tr>";

    $("#example tbody").append(newRow);
    updateRowNumbers();
});

// ฟังก์ชันลบแถว และอัปเดตลำดับใหม่
function removeRow(button) {
    $(button).closest("tr").remove();
    updateRowNumbers();
}

// ฟังก์ชันอัปเดตลำดับของแต่ละแถว
function updateRowNumbers() {
    $("#example tbody tr").each(function (index) {
        $(this).find("td:first").text(index + 1); 
    });
}

</script>
{% endblock %}
