{% extends "base.html" %} {% load static %} {% block title %}
<title>ข้อมูลผู้ขอสินเชื่อ</title>
<style>
  .card {
    display: flex;
    flex-direction: column;
  }

  .card-body {
    flex-grow: 1;
  }

  #empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #empty-state .fas {
    font-size: 60px;
    color: #ccc;
  }

  #empty-state p {
    margin-top: 1rem;
  }
</style>
{% endblock %} {% block content %}

<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body p-2">
            <div class="mb-3 mt-3 d-flex justify-content-between">
              <h3 style="margin-left: 13px">กำหนดข้อมูล</h3>
              <a id="openDialogButton" class="btn btn-success">
                <i class="fa-solid fa-circle-plus"></i>เพิ่มข้อมูล
              </a>
            </div>
            <hr />
            <div id="form_data"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>

</script>
<script src="{% static 'js/nameList.js' %}?v=2"></script>
{% endblock %}
